{% extends 'core/inicial.html' %}    

{% block title %}Restablecimiento contraseña{% endblock %}

{% load static %}

{% block content %} 

<style>
    /* Le doy formato desde aqui al formulario ya que no puedo desde la vista --> views.py */
    #id_username, #id_password1, #id_password2, #id_email {background-color: rgb(192, 250, 250); width: 200px;}
    .boton {background-color: rgb(42, 57, 152); width: 200px; color:white}
    .reset {margin:100px auto; width: 50%;}
    .errorlist {color:red}
    .mail {border: 2px solid blue; width: 200px;}
    .texto {color:rgb(3, 57, 3); font-weight:800;}

</style>

    <div class="reset" >

        <h2>Restablecimiento de contraseña enviado.</h2>

            <p class="texto" >Te hemos enviado un email a tu correo para poder restablecer la contraseña.</p>
            <!-- Aqui se genera el fichero en la carpeta "sent_emails" -->
    </div>
{% endblock %}      
