{% extends 'core/inicial.html' %} 

{% block title %}Nueva contraseña{% endblock %}

{% load static %}

{% block content %}  

<style>
    /* Le doy formato desde aqui al formulario ya que no puedo desde la vista --> views.py */
     #id_new_password1, #id_new_password2 {background-color: rgb(192, 250, 250); width: 50%; margin: 0 auto;}
    .boton {margin: 0 auto; background-color: rgb(42, 57, 152); width: 50%;  color:white}
    .confirm {margin:100px auto; width: 30%;}
    .errorlist {color:red}
    .texto {color:rgb(3, 57, 3); font-weight:800;}
</style>

    <div class="confirm" > 

        <h2>Escriba la nueva contraseña</h2>
        {% if validlink %}   <!-- pues era esto lo que me faltaba  -->
        <form action="" method="post"> {% csrf_token %}
           <p class="texto" >Por favor, introduzca su nueva contraseña dos veces para verificar que la ha escrito correctamente.</p>
         
           {{form.new_password1.errors}}
           <p><input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Nueva contraseña"></p>
           {{form.new_password2.errors}} 
           <p><input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Confirmar contraseña"></p>
         <!--    {{ form.as_p}}   (no funciona con esto)   esto ->   {{ form.new_password2}} tampoco puedes ponerlo, ni esto    {{ form.new_password1}}
    más que nada que no me funciona....  -->

            <p><input class="boton" type="submit" value="Cambiar contraseña"></p>
        </form>
        {% else %}
            <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
            <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
    </div>
{% endblock %}      
